.container {
  margin:5rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--secondary-color);
  font-size: 2.0rem;
  font-weight: 600;
  padding: 1rem 4rem 1rem 4rem;
  border-radius: 0.8rem;
  width: 100%; /* from 1000px to 100% */
  max-width: 90%; /* keep this to prevent over-sizing */
  min-height: 560px;
  max-width: 90%;
  box-shadow: 1px 5px 6px rgb(80, 80, 80)
}

.explanation {
  color: rgb(46, 46, 46);
  font-size: 1rem;
}

.english-display,
.open-here{
  margin: 0.5rem 1rem;
  font-size: 1.3rem;
}

.english-display {
  font-size: 1.4rem;
}

.question-display,
.translaton-display{
  height: 120px;
  background: linear-gradient(to left top,
    var(--secondary-color),
    white);
  border-radius: 0.8rem;
  box-shadow: 2px 2px 2px 2px var(--main-color);
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
}

.open-here{
  display:none;
}

.box {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr; /* 3列に分割 */
  grid-template-rows: 1fr 1fr;    /* 2行に分割 */
  gap: 0.6rem;                      /* グリッドアイテム間の隙間を設定 */
  justify-items: center;          /* アイテムを各セルの中央に配置 */
  align-items: center;            /* アイテムを各セルの中央に配置 */
  margin-top: auto;
}

.btn,
a.btn,
button.btn {
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1.2;
  position: relative;
  display: inline-block;
  padding: 0.7rem 1.8rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.8rem;
}

.btn--blue,
a.btn--blue {
  color: white;
  background-color: var(--main-color);
  width:15rem;
}

.btn--blue:hover,
a.btn--blue:hover {
  color: white;
  background: var(--main-color);
}

a.btn--radius {
  border-radius: 100vh;
}

/*
テスト
*/
.correct {
  color: var(--main-color);
}

.incorrect {
  color: red;
}

@media (max-width: 600px) {
  body {
    overflow: auto;
    height: 100%;
  }
  .header {
    top: 0.2rem;
    font-size: 2.4rem;
  }
  .container {
    margin-top:4rem;
    padding: 1rem 2rem;
  }
  .question-display,
  .translaton-display {
    margin-bottom: 1rem;
  }
  .english-display,
  .open-here{
    height: 150px;
    font-size: 1.0rem;
  }
  .box {
    grid-template-columns: 1fr;
  }
  .btn,
  a.btn,
  button.btn {
    font-size: 0.7rem;
    font-weight: 600;
  }
  .btn--blue,
  a.btn--blue {
    width:100%;
  }
}