{% extends 'app/base.html' %}
{% load static %}

{% block title %}EnDictation{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href='{% static "app/index.css" %}'>
{% endblock %}

{% block header %}
<div class="site-title" id="siteTitle">EnDictation</div>
{% endblock %}

{% block content %}
<div class="container">
  <div class="explanation-box">
    <i class="fa-regular fa-comment-dots"></i> 
    <details class="accordion-008">
      <summary>このサイトで何ができますか？</summary>
      <p>このサイトは英語ディクテーションサイトです。貴方の英語力を鍛えることができます。<br>
        ※PC推奨</p>
    </details>
    <details class="accordion-008">
      <summary>このサイトには、どのような特徴がありますか？</summary>
      <p>Lesson一覧の問題をクリックすると、ディテーションを開始します。<br>
        まず英語の音声が再生されます。あなたは聞き取れた単語をキーボードから入力してください。<br>
        入力された文字はすぐに正しいか判定されます。</p>
    </details>
  </div>
  <div class="lesson-box">
    <div class="lesson-title">
      Lesson一覧
    </div>
    <div class="lesson-bar">
      <a class="btn" id="random" href="/random/">ランダム問題を開始する</a>
    </div>
  </div>
</div>
{% endblock %}