{% extends 'app/base.html' %}
{% load static %}

{% block title %}EnDictation{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href='{% static "app/index.css" %}'>
{% endblock %}

{% block header %}
<div class="site-title" id="siteTitle">EnDictation</div>
{% endblock %}

{% block content %}
<div class="container">
  <div class="explanation-box">
    <i class="fa-regular fa-comment-dots"></i> 
    <details class="accordion-008">
      <summary>このサイトで何ができますか？</summary>
      <p>このサイトは<span style="color:#000000;font-weight:bold;">英語ディクテーションサイト</span>です。<br>まず英語の音声が流れるので、聞こえた英語を貴方のキーボードでタイピングしてください。<br>
        音声の内容とタイピングの内容が一致すると、画面上に一致したところまでの英文が表示されます。<br>
        <span style="color:#0f00b1;font-weight:bold;">※PC推奨</span></p>
    </details>
    <details class="accordion-008">
      <summary>このサイトには、どのような特徴がありますか？</summary>
      <p>Lesson一覧の問題をクリックすると、すぐにディテーションが開始します。<br>
        ・音声は途中いつでも「<span style="color:#0f00b1;font-weight:bold;">再生する</span>」ボタンをクリック or「<span style="color:#0f00b1;font-weight:bold;">Space</span>」で再生することができます。<br>
        ・英語音声の日本語訳も「<span style="color:#0f00b1;font-weight:bold;">日本語訳を見る</span>」ボタンをクリック or「<span style="color:#0f00b1;font-weight:bold;">Enter</span>」で表示・非表示を切り替えることができます。<br>
        ・途中聞き取れない音声があった場合は、「<span style="color:#0f00b1;font-weight:bold;">1文字ヒント</span>」ボタンをクリック or「<span style="color:#0f00b1;font-weight:bold;">shift+Backspace</span>」でヒントを表示できます。<br>
        ・この問題を最初から実施したい場合は「<span style="color:#0f00b1;font-weight:bold;">もう一度</span>」ボタンをクリック or「<span style="color:#0f00b1;font-weight:bold;">ctrl+Backspace</span>」でこの問題をやり直すことができます。<br>
        ・次の問題に進みたい場合は「<span style="color:#0f00b1;font-weight:bold;">次へ</span>」ボタンをクリック or「<span style="color:#0f00b1;font-weight:bold;">shift+Enter</span>」で次の問題を開始することができます。<br>
        </p>
    </details>
  </div>
  <div class="lesson-box">
    <div class="lesson-title">
      Lesson一覧
    </div>
    <p><span style="color:#0f00b1;font-weight:bold;">※開始と同時に音が出ます</span></p>
    <div class="lesson-bar">
      <a class="btn" id="random" href="/random/">ランダム問題を開始する</a>
    </div>
  </div>
</div>
{% endblock %}