{% extends 'app/base.html' %}
{% load static %}

{% block title %}EnDictation{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href='{% static "app/random.css" %}'>
{% endblock %}

{% block navigation %}
<a class="home-btn" id="homeBtn" href="/"><i class="fa-solid fa-house fa-xl"></i></a>
{% endblock %}

{% block header %}
<div class="question-number" id="questionNumber"></div>
{% endblock %}

{% block content %}
<div class="container">
  <p class="explanation"><i class="fa-regular fa-comment-dots"></i> 再生される英語音声に従って、その内容をキーボードからタイピングしてください。 ※PC推奨</p>
  <div class="question-display" id="questionDisplay">
    <div class="english-display" id="englishDisplay"></div>
  </div>
  <div class="translaton-display" id="translationDisplay">
    <span class="open-here" id="openHere"></span>
  </div>
  <div class="box">
    <span class="btn btn--blue btn--radius" id="hidden"><span class="text-hide">日本語訳を見る</span><i class="fa-solid fa-toggle-on"></i><br><span class="text-hide">（Enter）</span></span>
    <span class="btn btn--blue btn--radius" id="once-again-audio"><span class="text-once-again-audio">再生する</span><i class="fa-solid fa-microphone"></i><br><span class="text-once-again-audio">（space）</span></span>
    <span class="btn btn--blue btn--radius" id="hint-display"><span class="text-hint-display">1文字ヒント</span><i class="fa-solid fa-question"></i><br><span class="text-hint-display">（shift+Back）</span></span>
    <span class="btn btn--blue btn--radius" id="repeat"><span class="text-repeat">もう一度</span><i class="fa-solid fa-repeat"></i><br><span class="text-repeat">（ctrl+Back）</span></span>
    <span class="btn btn--blue btn--radius" id="next-question"><span class="text-next-question">次へ</span><i class="fa-solid fa-arrow-right-long"></i><br><span class="text-next-question">（shift+Enter）</span></span>
  </div>
</div>
<script>
  window.RANDUM_SENTENCE_URL_API = "{{ RANDUM_SENTENCE_URL_API }}";
</script>
<script src="{% static 'js/random.js' %}" type="module"></script>
{% endblock %}